@charset "utf-8";
/* CSS Document */

html {
  font-size: 62.5%; 
}

@font-face {
    font-family: 'chunkfive_exregular';
    src: url('font/chunkfive_ex-webfont.woff2') format('woff2'),
         url('font/chunkfive_ex-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'chunkfive_exregular';
	line-height: 1.5;
}

p {
	font-family: raleway;
	font-size: 4vw;
}

img {
	max-width: 100%;
}

/* GRID TEMPLATE */

.entrance {
	grid-area: entrance;
}
	
.zebra {
	grid-area: zebra;
} 

.intro {
	grid-area: intro;
}

.program {
	grid-area: program;
}

.girafe {
	grid-area: girafe;
}

.azcf {
	grid-area: azcf;
}

.elephant {
	grid-area: elephant;
}

.mambatitle {
	grid-area: mambatitle;
}

.blackmamba {
	grid-area: blackmamba;
}

.video {
	grid-area: video;
}

.location {
	grid-area: location;
}

.woman {
	grid-area: woman;
}

.stats {
	grid-area: stats;
}

.projects {
	grid-area: projects;
}

.donate {
	grid-area: donate;
}
.legal {
	grid-area: legal;
}

.container {
	display: grid;
	grid-gap: 5vw;
	grid-template-areas: 
		'entrance'
		'zebra'
		'intro'
		'christmas'
		'program'
		'girafe'
		'azcf'
		'elephant'
		'mambatitle'
		'blackmamba'
		'video'
		'location'
		'woman'
		'stats'
		'projects'
		'donate'
		'legal';
}

.box {
	height: 35vh;
	position: relative;
	display: block;
}

.christmas h1, .program h1, .mambatitle h1, .azcf h1, .projects h1 {
	font-family: 'chunkfive_exregular';
	font-size: 6vw;
	line-height: 2vw;
}

h2 {
	font-family: 'chunkfive_exregular';
	font-size: 4vw;
	line-height: 1vw;
}

/*TOP HEADER*/

.topmenu {
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;	
	background: #fff;
	z-index: 10;
}

logo img {
	width: 30vw;
	margin-left: 5vw;
	margin-top: 5vw;
}

#menu-btn img, #menu-btn-close img {
	width: 40px;
}

#menu-btn {
	top: 0;
	right: 0;
	position: fixed;
}

.menu-id {
    position: fixed;
    right: 15vw;
    top: 0;
	width: 90px;
    height: 90px;
    color: #fff;
    display: inline-block;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-id p {
	font-family: 'chunkfive_exregular';
	color: #000;
	font-size: 3vw;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 100vw;
    height: 100vh;
    background-color: #e18e04;
    transition: all .3s ease-out;
    opacity: .5;
    padding-top: 15vw;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: block;
    list-style-type: none;
    border-bottom: 2px solid #ffcd7b;
}

nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 5vw;
}

.nav-active nav {
    transform: translateX(0);
    opacity: 1;
}

.nav-active #menu-btn {
    opacity: 0;
}

#menu-btn {
    transition: opacity .3s ease-out;
}

#menu-btn,
#menu-btn-close {
    position: fixed;
    right: 0;
    top: 0;
    width: 90px;
    height: 90px;
    color: #fff;
    display: inline-block;
}

#menu-btn span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#menu-btn-close img {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* CHRISTMAS SECTION */

.entrance {
	padding-top: 30vh;
}

.zebra, .girafe img {
	pointer-events: none;
}

.zebra {
	height: 40vh;
}

.entrance img {
	width: 60vw;
    position: absolute;
    left: 50vw;
    top: 46vh;
    transform: translate(-50%, -50%);
	z-index: -1;
}

.entrance h1 {
	font-family: 'chunkfive_exregular';
	text-align: center;
    position: absolute;
	font-size: 10vw;
	width: 85%;
    left: 50vw;
    top: 20vh;
    transform: translate(-50%, -50%);
}

.intro {
	height: 20vh;
}

.intro p {
	font-size: 5vw;
	color: #fff;
	font-family: 'chunkfive_exregular';
	letter-spacing: 1px;
	text-align: center;
	padding: 5vw;
	margin-top: 15vh;
	background: #4b8d51;
}

.christmas {
	padding: 5vw;
	height: 45vh;
}

.program {
	padding: 5vw;
	height: 50vh;
}

.program, .time, .event {
	display: inline-block;
	float: left;
}

.program-text {
	background: #f3f3f3;
	overflow: auto;
	padding: 5vw;
	border-radius: 10px;
	box-shadow: 0 8px 4px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

.program-text h1 {
	text-align: center;
}

.time {
	margin-right: 5vw;
}

.event {
	width: 53vw;
}

.girafe {
	height: 70vh;
}

.girafe img {
	float: right;
}

/* AZCF SECTION */

.azcf {
	padding: 5vw;
	height: 40vh;
}


/* BlACK MAMBA SECTION */

.mambatitle, .blackmamba, .location {
	padding: 5vw;
}

.mambatitle {
	height: auto;
	margin-bottom: -9vh;
}

.blackmamba {
	height: 50vh;
}

.location {
	height: 30vh;
}

.woman {
	height: 60vh;
}

 /* STATS SECTION */

.stats, .circleend {
	padding: 5vw;
}

.stats {
	height: 85vh;
}

.statstitle h1 {
	font-family: 'chunkfive_exregular';
	font-size: 6vw;
	text-align: center;
}

.circle {
	height: 40vh;
}

.circledetails {
	display: inline-block;
	float: left;
	padding: 3vw;
	text-align: center;
	margin-left: 0.5vw;

}

.circledetails h3 {
	padding: 5vw;
 	background-color: #e18e04;	
	font-size: 2em;
	border-radius: 50%;
    width: 16vh;
    height: 16vh;
	display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.circleend {
	display: inline-block;
	text-align: center;
	font-size: 1.5em;
	margin-top: -5vh;
}

/* OUR OTHER PROJECTS SECTION */

.projects {
	padding: 5vw;
	height: 240vh;
	text-align: center;
}

.projects h1, .projects p {
	text-align: left;
}

.project h2 {
	font-size: 2em;
}

.project p {
	text-align: center;
}

.project img {
	width: 70vw;
	padding-top: 3vw;
}

.project {
	background: #f3f3f3;
	padding: 5vw;
	margin-top: 5vw;
}

.project button {
	padding: 4vw;
	width: 25vh;
	margin: 1vh;
	background: #4b8d51;
	border: none;
	border-radius: 50vh;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3), 0 3px 10px 0 rgba(0,0,0,0.20);
	transition: 0.4s; 
	font-family: 'chunkfive_exregular';
}

/* DONATION */

.monkey {
	height: 40vh;
}

.donate {
	padding: 5vw;
	height: 75vh;
}

.donate button {
	background-color: white; 
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	border: 0.5vh solid ;
    border-color: #4B8D51;
	width: 100%;
	line-height: 0.5;
}

/*.button1:hover {
  background-color: #4B8d51;
  color: white;
}
-Only for the desktop version */

/* LEGAL */
.legal {
	background: #f3f3f3;
	padding: 5vw;
}